:host {
  display: inline-flex;
}

.badge {
  display: inline-block;
  padding: 2px var(--spacing-m);
  border-radius: var(--border-radius-xl);
  font-size: var(--font-size-xs);
  font-weight: 500;
  line-height: 1.5;
  background-color: var(--color-neutral-200);
  color: var(--color-neutral-700);
}

:host([variant="work"]) .badge {
  background-color: var(--color-brand-lighter);
  color: var(--color-blue-text);
}

:host([variant="family"]) .badge {
  background-color: var(--color-success-light);
  color: var(--color-success-text);
}

:host([variant="friends"]) .badge {
  background-color: var(--color-purple-light);
  color: var(--color-purple-text);
}

:host([variant="other"]) .badge {
  background-color: var(--color-neutral-200);
  color: var(--color-neutral-700);
}
