:host {
  display: flex;
  gap: 2rem;
  align-items: start;
  max-width: 96rem;
  margin: 0 auto;
  padding: 0 1rem 1rem;
  width: 100%;
}

.product-area {
  flex: 1;
  min-width: 0;
  min-height: 100vh;
}

mp-category-nav {
  width: 125px;
  flex: none;
}

mp-filter-list {
  width: 125px;
  flex: none;
}

@media (max-width: 767px) {
  :host {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    padding: 0 1rem 1rem;
  }

  mp-category-nav {
    order: -2;
    width: 100%;
  }

  mp-filter-list {
    order: -1;
    width: 100%;
  }

  .product-area {
    order: 0;
    width: 100%;
  }
}
