:host {
  display: inline-flex;
}

button {
  background: none;
  border: 1px solid var(--docs-color-border);
  border-radius: var(--docs-radius-m);
  padding: var(--docs-space-s) var(--docs-space-s);
  cursor: pointer;
  color: var(--docs-color-text-2);
  font-size: var(--docs-font-size-base);
  line-height: 1;
  transition: color 0.2s, border-color 0.2s;
}

button:hover {
  color: var(--docs-color-brand);
  border-color: var(--docs-color-brand);
}
