:host {
  display: block;
}

.list-container {
  min-height: 200px;
}

.list {
  background: var(--color-white);
  border-radius: var(--border-radius-xl);
  box-shadow: var(--shadow-s);
  overflow: hidden;
}
