:host {
  display: block;
}

.hero-section,
.carousel-section {
  max-width: 96rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.hero-section {
  padding-bottom: 1rem;
}

.carousel-section {
  padding-bottom: 1.5rem;
}
